<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node</title>
    <%- include('partials/head.ejs') %> 
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    
    <div class="container">

        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <h1 id="home" class="mt-5 text-center">Blogs</h1>
                <% if (blogs.length > 0) { %>
                    <% blogs.forEach(blog => { %>
                        
                        <div class="card text-center m-5">

                            <a href="/blogs/<%= blog._id %> ">
                                <div class="card-body">
                                <h5 class="card-title"><%= blog.title %></h5>
                            </a>
                                <hr>
                                <p class="card-text"><%= blog.body %></p>
                                </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                            
                        </div>
                    
                    <% }) %>
                <% } else { %>
                    <p>There are no blogs to display</p>
                <% } %> 
        </div>
    </div>


    <%- include('partials/footer.ejs') %>
</body>
</html>